:root {
  --offwhite: hsl(36, 100%, 99%);
  --grayishblue: hsl(233, 8%, 79%);
  --darkgrayishblue: hsl(236, 13%, 42%);
  --verydarkblue: hsl(240, 100%, 5%);
  --softorange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font: inherit;
}

body {
  font-family: "Inter", sans-serif;
}

.grid-flow {
  display: grid;
  align-content: start;
  gap: 2rem;
}

.header,
.container {
  /* margin: 0 20%; */
  max-width: 120rem;
  width: 90%;
  margin: 2rem auto 0 auto;
}

/* HEADER FIJO */
.fijo {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.body-scroll {
  padding-top: 6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* position: sticky; */
  background-color: white;
  /* top: 0; */
  padding: 2rem 1rem;
  margin: 0;
  width: 100%;
  /* box-shadow: -1px 6px 9px -6px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: -1px 6px 9px -6px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: -1px 6px 9px -6px rgba(0, 0, 0, 0.74); */
}

.navbar {
  padding: 0;
}

.menu-link {
  display: block;
  text-decoration: none;
  color: var(--darkgrayishblue);
}

.imagen-title {
  background-image: url(../assets/images/image-web-3-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 20rem;
}

.main-content {
  display: grid;
  /* gap: 2rem; */
}

.desc {
  display: grid;
  /* gap: 2rem; */
}

/* .desc .grid-flow {
  align-content: normal;
} */

.main-title {
  font-size: 3rem;
  font-weight: 900;
}

.read-more {
  text-align: left;
  line-height: 1.5;
  font-size: 1em;
  margin-top: 2rem;
  color: var(--darkgrayishblue);
}

.button-readmore {
  border: none;
  color: var(--offwhite);
  background-color: var(--softred);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem;
  font-weight: 600;
  width: 50%;
  margin-bottom: 3rem;
  /* font-size: 0.95em; */
  cursor: pointer;
}

.button-readmore:hover {
  color: var(--offwhite);
  background-color: var(--verydarkblue);
}

.main-content-second {
  background-color: var(--verydarkblue);
  padding: 3rem 2rem;
  align-content: normal;
}

.main-content-second h2 {
  color: var(--softorange);
  font-size: 2.2em;
  font-weight: 900;
}

.sidebar-article p {
  color: var(--grayishblue);
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1em;
}

.sidebar-article:last-of-type p {
  margin-bottom: 0;
}

.sidebar-article h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sidebar-article a {
  text-decoration: none;
  color: var(--offwhite);
}

/* .sidebar-article:hover a {
  color: var(--softorange);
} */
.sidebar-article-title:hover {
  color: var(--softorange);
}

.sidebar-article {
  /* margin-bottom: 1rem; */
  border-bottom: 1px solid var(--grayishblue);
}

.sidebar-article:last-of-type {
  border-bottom: none;
}

.articles-container {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  gap: 2rem;
}

.article {
  display: flex;
  gap: 1rem;
}

.article img {
  height: auto;
  width: 9rem;
}

.article h3 {
  color: var(--grayishblue);
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.article-info-title {
  font-weight: 900;
  font-size: 1.5em;
  margin-bottom: 0.7rem;
}

.article-info-title a {
  text-decoration: none;
  color: black;
}

.article-info-link:hover {
  color: var(--softred);
}

.article-info-desc {
  line-height: 1.5;
  font-size: 1em;
  color: var(--darkgrayishblue);
}

.menu-button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.header nav.open {
  position: fixed;
  opacity: 1;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2rem;
  width: 75vw;
  background-color: white;
  z-index: 10;
  /* box-shadow: -10px 2px 16px 0px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -10px 2px 16px 0px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -10px 2px 16px 0px rgba(0, 0, 0, 0.69); */
  /* box-shadow: -142px -1px 0px 16px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: -142px -1px 0px 16px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -142px -1px 0px 16px rgba(0, 0, 0, 0.67); */
}

.container div.bgopen {
  position: fixed;
  opacity: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 8;
}

.nav-wrapper .open a {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  margin-bottom: 1.5rem;
  font-size: 1.3em;
}

.header nav .menu-button-close {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  right: 1.5rem;
  /* top: 6rem; */
  z-index: 9;
  cursor: pointer;
}

.header nav {
  display: none;
  opacity: 0;
  z-index: -9;
  /* transition: all 0.3s ease-in-out; */
}
@media (min-width: 600px) {
  .header,
  .container {
    width: 75%;
  }
  .header {
    margin: 2rem auto 0 auto;
    padding: 2rem 0;
  }
  .fijo {
    right: 0;
    width: 100%;
    padding: 2rem 4rem;
    /* margin: 0; */
  }
  /* .fijo {
    width: 100%;
    left: 0;
    top: 0;
  } */
  body .fijo {
    margin: 0 auto;
  }
  /* .header nav.open {
    box-shadow: -300px -1px 0px 16px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: -300px -1px 0px 16px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -300px -1px 0px 16px rgba(0, 0, 0, 0.67);
  } */
}
@media (min-width: 1120px) {
  .body-scroll {
    padding-top: 12rem;
  }
  .header,
  .container {
    width: 55%;
  }
  .header {
    margin: 2rem auto 0 auto;
    padding: 2rem 0;
  }
  .header nav {
    display: flex;
    opacity: 1;
  }
  .fijo {
    right: 0;
    margin: 0;
  }
  body .fijo {
    margin: 0 auto;
  }
  .menu-button {
    display: none;
  }
  .backgroundmenu {
    display: none;
  }
  .menu-button-close {
    display: none;
  }
  .read-more {
    margin-top: 0;
    font-size: 0.9em;
  }
  .imagen-title {
    background-image: url(../assets/images/image-web-3-desktop.jpg);
    width: 100%;
    min-height: 20rem;
  }
  .main-content {
    grid-template-columns: repeat(2, 65% 35%);
  }
  .desc {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-title {
    font-size: 3rem;
    font-weight: 900;
  }

  .button-readmore {
    width: 60%;
    padding: 0.8rem 0.6rem;
    margin-bottom: 0;
    letter-spacing: 5px;
  }

  .container {
    margin-bottom: 5rem;
  }
  .navbar {
    align-items: center;
    display: flex;
  }
  .menu-link {
    margin-right: 2rem;
  }
  .menu-link:hover {
    color: var(--softred);
  }
  .menu-link:last-of-type {
    margin-right: 0;
  }
  .articles-container {
    gap: 2rem;
    flex-direction: row;
  }
  .article {
    flex-direction: row;
    gap: 1rem;
  }
  .sidebar-article h3 {
    font-size: 1.2em;
  }
  .main-content-second {
    padding: 1.5rem 1rem;
  }
  .sidebar-article p {
    font-size: 0.95em;
  }
  .article h3 {
    color: var(--grayishblue);
    font-size: 2em;
  }

  .article-info-title {
    font-size: 0.99em;
  }

  .article-info-desc {
    font-size: 0.9em;
  }
  .article img {
    width: 6rem;
  }
  .main-content-first {
    margin-right: 2rem;
  }
}
